{% extends "base.html.twig" %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
   <div class="conatainer border border-white m-5 p-5 rounded">
        <h1 class="container d-flex justify-content-center my-3">Connectez-vous !</h1>
        <form class="container  d-flex flex-column justify-content-center  " action="{{ path('security_login') }}" method="post">
            <div class="form-group d-flex justify-content-center my-3 ">
                <input placeholder="Email" name="_username" type="email" class="form-control" style="max-width: 300px" id="username">
            </div>
            <div class="form-group d-flex justify-content-center my-3 ">
                <input placeholder="Mot de passe "  name="_password" type="password" class= "form-control " style="max-width: 300px" id="password">
            </div>
            <div class="form-group d-flex justify-content-center my-3">
                <button type="submit" class"btn btn-primary ">Connectez-vous</button>
            </div >
            <div class="form-group d-flex justify-content-center my-3">
            <a href="{{ path('forgotten_password' )}}" class="btn btn-secondary w-25">Mot de passe oublié</a>
            </div>
        </form>

    </div>

{% endblock %}