{% extends "base.html.twig" %}

{% block body %}
    {% if error %}
        <div>{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
   
<h1 class="m-5">Connection !</h1>
<form class="m-5" action="{{ path('security_login') }}" method="post">
     <div class="form-group w-50">
        <input placeholder="Email" name="_username" type="email" class="form-control" id="username">
    </div>
    <div class="form-group w-50">
        <input placeholder="Mot de passe "  name="_password" type="password" class= "form-control" id="password">
    </div>
    <div class="form-group ml-3">
        <button type="submit" class"btn btn-primary ml-3">Connectez-vous</button>
    </div>
    <a href="{{ path('forgotten_password' )}}" class="btn btn-secondary m-3">Mot de passe oublié</a>
</form>
   

{% endblock %}