{% extends 'base.html.twig' %}
{% block title %} Réinitialisation du mot de passe{% endblock %}
{% block body %}
<section class='container my-5 py-5'>

        <div class="container">
            <h1>Réinitialisation du mot de passe</h1>
            
            {{ form_start(requestPassForm) }}
                <div class="m-5 " style="font-size: 2vw;">{{ form_row(requestPassForm.email )}} </div>
                    <button type="submit" class="m-5  btn btn-primary">Envoyer</button>
            {{ form_end(requestPassForm) }}
        </div>
</section>
    
{% endblock %}