{% extends 'base.html.twig' %}
{% block title %}Create Figure{% endblock %}
{% form_theme formFigure 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <h1>Création d'une nouvelle figure !</h1>
    {{form(formCreateFigure)}}
{% endblock %}
