{% extends 'base.html.twig' %}
{% block title %}Create Figure{% endblock %}

{% block body %}
    <h1>Création d'une nouvelle figure !</h1>

    {{ form_start(formCreateFigure) }}
    {{form_row(formCreateFigure)}}
        <button type="submit" class="btn btn-success">
            Ajouter l'article
        </button>
    {{ form_end(formCreateFigure) }}
{% endblock %}
