{% extends 'base.html.twig' %}

{% block body %}

<h1>{{ title }}</h1>

{% if title == 'titre' %}

<p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. A suscipit quisquam voluptatum odio molestias ex, totam soluta consequuntur deserunt similique dolore debitis eos. Nisi autem porro temporibus numquam consectetur eos neque. Neque provident repellendus nihil reiciendis a eveniet unde numquam.</p>

{% endif %}

<p>coucou</p>

{% endblock %}