{% extends 'base.html.twig' %}

{% block body %}
<article>
    <h2>{{figure.name}}</h2>
    <div class="metadata"> Ecrit le </div>
    <div class="content">
        <img src="{{figure.image}}" alt="">
        <p>{{figure.content | raw}}</p>
        <p>Dicta, recusandae velit voluptas veniam in perspiciatis adipisci magni nobis incidunt atque dolore doloremque earum. Dolor, dicta unde? Minima sapiente fugit aspernatur eius rem! Maxime cum et reprehenderit molestiae labore earum assumenda sint ipsa. Recusandae in eum cupiditate beatae nam?</p>
    





    </div>
</article>


 {% endblock %}